.info {
    width: 100vw;
    /* width: 80vw; */
    margin: auto;
    /* #f5f5f5; */
}

.info_line {
    display: inline-block;
    border-bottom: solid black;
    width: 90%;
}

.info_title {
    /* color: #2d2d2d; */
    font-size: 50px;
    /* display: grid; */
    /* align-items: center; */
    /* justify-content: left; */
    text-align: left;
    /* margin: 0 40px 0 40px; */
}

.info_title_ {
    /* color: #2d2d2d; */
    font-size: 70px;
    text-align: left;
    margin: 0 20px 0 20px;
}

.info_section_t1 {
    width: 90%;
    display: inline-flex;
    padding: 85px 0 85px 0;
    /* display: flex; */
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* justify-content: space-evenly;     */
}

.info_section_t2 {
    /* background-color: rgb(91, 119, 161); */
    width: 85%;
    /* height: 300px; */
    padding: 50px 0 50px 0;
    /* margin: 0 50px 0 50px; */

    display: inline-block;
}

.section_title {
    font-size: 50px;
    text-align: left;
    /* font-weight: bold; */
}

.content_list {
    justify-content: space-around;
    display: grid;
}

.content_list {
    justify-content: space-around;
    display: grid;
}

.content_box {
    max-width: 800px;
    min-width: 580px;
    height: 75px;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 5px 4px 5px 1px rgba(68, 68, 68, .4);
    border: 2px solid rgba(100, 100, 100, .5);
    text-align: left;
    display: grid;
    align-items: center;
    padding: 10px;
    font-size: 17px;
}

.profile_img {
    object-fit: contain;
    width: 200px;
    height: auto;
    display: block;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: white;
}

.profile_list {
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    font-size: 20px;
    column-gap: 20px;
    row-gap: 20px;
}

.profile_item {
    display: grid;
    align-items: center;
    text-align: left;
    /* height: 85px; */
    line-height: 1.5;
}

.introduction_title {
    font-size: 30px;
    text-align: left;
    padding-bottom: 10px;
    display: flex;
    column-gap: 10px;
    /* display: grid;
    align-items: center;
    text-align: left;
    color: #2d2d2d;
    height: 85px; */
}

.introduction_text {
    font-size: 17px;
    text-align: left;
    text-indent: 15px;
    line-height: 1.4;
    padding-bottom: 5px;

}

.career_division {
    font-size: 20px;
    text-align: left;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 8px;
    text-indent: 10px;
}

.career_item {
    display: flex;
    min-height: 70px;
    border-bottom: 1px solid rgba(100, 100, 100, .5);
    padding: 10px 0 10px 0;
}

.career_item_title {
    min-width: 290px;
    display: grid;
    align-items: center;
    align-content: center;
    /* padding-right: 10px; */
    border-right: 2.5px solid #141414;
}

.career_item_text {
    display: grid;
    align-items: center;
    text-align: left;
    padding-left: 30px;
    line-height: 1.5;
    color: black;
}

.career_item_top {
    border-left: 2px solid #141414;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 10px;
    margin-left: -5px;
}

.career_item_btn {
    width: 85px;
    height: 30px;
    background-color: #333;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: -5px;
    cursor: pointer;
}
.career_item_btn:hover {
    background-color: #444;
 }
 
.info_navi {
    position: sticky;
    bottom: 0;
    background-color: #222;
    width: 100%;
    height: 50px;
    justify-content: center;
    position: fixed;
    z-index: 10;
    justify-items: center;
    align-content: center;

    .navi_list {
        width: 80%;
        height: 75%;
        justify-content: center;
        display: table;
        border-collapse: collapse;
    }

    .navi_item {
        width: 100px;
        color: #F4F4F2;;
        font-size: 20px;
        text-decoration: none;
        align-content: center;
        border: solid #F4F4F2;
        border-width: 0 2px 0 2px;
        display: table-cell;
    }
}

@media (max-width:768px) {
    /* .info {        
        width: 95vw;
    } */

    .info_section_t1 {
        flex-direction: column;
        padding: 45px 0 45px 0;
        gap: 30px;
    }

    .info_section_t2 {
        width: 80%;
    }

    .section_title {
        font-size: 40px;
        font-weight: bold;
    }

    .profile_img {
        width: 170px;
        height: 170px;
    }

    .profile_list {
        grid-template-columns: repeat(2, 160px);
        font-size: 18px;
        column-gap: 5px;
        row-gap: 10px;
    }

    .introduction_text {
        font-size: 18px;
        text-indent: 10px;
        line-height: 1.4;
    }

    .content_box {
        width: 90%;
        height: 45px;
        font-size: 15px;
        min-width: initial;
        padding: 12px;
        line-height: 1.25;
    }

    .career_item {
        flex-direction: column;
        align-items: center;
    }

    .career_item_title {
        border-right: initial;
    }

    .career_item_text {
        display: grid;
        align-items: center;
        text-align: center;
        padding-left: initial;
        line-height: 1.5;
        width: 100%;
    }

    .career_item_top {
        /* border-left: 2px solid #141414;
        font-weight: bold; */
        /* padding-left: 5px; */
        width: 50%;
        border-left: 2.5px solid #141414;
        border-right: 2.5px solid #141414;
        justify-self: center;
        margin-bottom: 10px;
        /* margin-left: -5px; */
    }
    
    .career_item_btn {
        justify-self: center;
    }

    .info_navi {
        height: 35px;
    
        .navi_list {
            width: 95%;
        }

        .navi_item {
            width: 100px;
            font-size: 14px;
            cursor: pointer;
        }
    }
}