.info {
    /* width: 100vw; */
    width: 80vw;
    margin: auto;
    /* #f5f5f5; */
}

.info_line {
    border-bottom: solid black;
    width: 100%;
}

.info_title {
    color: #2d2d2d;
    font-size: 50px;
    /* display: grid; */
    /* align-items: center; */
    /* justify-content: left; */
    text-align: left;
    /* margin: 0 40px 0 40px; */
}

.info_title_ {
    color: #2d2d2d;
    font-size: 70px;
    text-align: left;
    margin: 0 20px 0 20px;
}

.info_section_t1 {
    /* background-color: rgb(91, 119, 161); */
    width: 100%;
    /* height: 300px; */
    padding: 85px 0 85px 0;

    justify-content: space-evenly;
    display: inline-flex;
    align-items: center;
}

.info_section_t2 {
    /* background-color: rgb(91, 119, 161); */
    width: 90%;
    /* height: 300px; */
    padding: 50px 0 50px 0;
    /* margin: 0 50px 0 50px; */

    display: inline-block;
}

.section_title {
    font-size: 50px;
    text-align: left;
}

.content_list {
    justify-content: space-around;
    display: grid;
}

.content_list {
    justify-content: space-around;
    display: grid;
}

.content_box {
    width: 800px;
    height: 80px;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 5px 4px 5px 1px rgba(68, 68, 68, .4);
    border: 2px solid rgba(100, 100, 100, .5);
    text-align: left;
    display: grid;
    align-items: center;
    padding: 10px;
}

.profile_img {
    object-fit: contain;
    width: 200px;
    height: auto;
    display: block;
    border: 2px solid black;

    @media (max-width: 800px) {
        width: 150px;
    }
}

.profile_list {
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    font-size: 20px;
}

.profile_item {
    display: grid;
    align-items: center;
    text-align: left;
    color: #2d2d2d;
    height: 85px;
}

.introduction_title {
    font-size: 30px;
    text-align: left;
    /* display: grid;
    align-items: center;
    text-align: left;
    color: #2d2d2d;
    height: 85px; */
}

.introduction_text {
    font-size: 18px;
    text-align: left;
    white-space: pre-wrap;
    text-indent: 25px;
    /* display: grid;
    align-items: center;
    text-align: left;
    color: #2d2d2d;
    height: 85px; */
}

.career_list {}

.career_item {
    display: flex;
    min-height: 70px;
    /* height: 70px; */
    /* padding: 0 50px 0 50px; */
    border-bottom: 1px solid rgba(100, 100, 100, .5);
    padding: 10px 0 10px 0;

}

.career_item_title {
    width: 250px;
    display: grid;
    align-items: center;
    align-content: center;    
    /* padding-right: 10px; */
    border-right: 2.5px solid #141414;
    /* font-weight: 800; */

}

.career_item_text {
    display: grid;
    align-items: center;
    text-align: left;
    padding-left: 30px;
}