.album {
    /* width: 100vw; */
    /* width: 80vw; */
    margin: auto;
    /* background-color: #F4F4F2; */
    /* #f5f5f5; */
}

.photo_section_t1 {
    /* background-color: burlywood; */
    /* width: 85%; */
    width: 95%;
    padding: 70px 0 70px 0;
    display: flex;
    flex-direction: column;
    display: inline-block;
    /* display: inline-grid; */
    justify-items: center;
    align-items: center;
}

.photo_list {
    display: grid;
    /* width: 100%; */
    justify-content: center;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(2, 50%);
    grid-gap: 2px;
    height: 500px;
    width: 95%;
    max-width: 1100px;
    min-width: 900px;
}

.photo_item {
    /* max-width: 300px;    
    min-height: 200px; */
    /* width: 100%;
    height: 100%; */
    /* width: auto; */
    /* width: 100%; */

    outline: 2px solid #333;
    display: flex;
    padding: 10px 10px 10px 10px;
    border-collapse: collapse;
}

.photo_img {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    object-fit: cover;
}

.pagination {
    padding-top: 40px;

}

@media (max-width:768px) {
    .photo_section_t1 {
        padding: 50px 0 50px 0;
    }

    .photo_list {
        grid-template-columns: repeat(2, 50%);
        width: 95%;
        max-width: initial;
        min-width: initial;
    }
}