li {
    list-style: none;
}

.menu_bar {    
    border-bottom: 3px dashed #333;
    background-color: #F4F4F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: center;
    position: sticky;
    top: 0;
    height: 60px;
    padding: 10px 20px 10px 20px;
    z-index: 1;
}

.menu_title {
    object-fit: contain;
    height: 110%;
}

.menu_list {
    color: white;
    justify-content: space-around;
    display: flex;
    gap: 20px;
}

.menu_item {
    width: 135px;
    height: 45px;
    background-color: #333;
    border-radius: 35px;
    color: white;
    font-size: 25px;
    text-decoration: none;
    align-content: center;
}

    	
@media (max-width:768px) {
    .menu_list {
        gap: 0;
    }
    
    .menu_item {
        background-color: transparent;
        color: #333;
        font-weight: bold;
        width: 100px;
        font-size: 18px;
    }
}
  